.calendar {
  width: $calendar-block-width;
  display: flex;
  flex-wrap: wrap;
  gap: $day-margin;
  margin: 0 auto;
}

@for $day from 28 through 31 {
  .calendar-#{$day} {
    @for $i from 0 through $day {
      & :nth-child(#{$i}) {
        display: flex;
        justify-content: center;
        align-items: center;
        height: $day-height;
        width: $day-width;
        border: $day-border-width solid $day-border-color;
        box-sizing: border-box;
        background-color: $day-background-color;
        font-size: $day-font-size;
        position: relative;
        transition: background-color 0.5s, transform 0.5s;
      }

      & :nth-child(#{$i})::after {
        content: "#{$i}";
      }
    }
  }
}

@each $name, $start in $days {
  .calendar-#{$name} :first-child {
    margin-left: $start * ($day-width + $day-margin);
  }
}

.calendar :hover {
  background-color: #ffbfcb;
  cursor: pointer;
  transform: translate(0, -20px);
}
